@using Domain.Models
@model Domain.Models.AdminModel
@{
    ViewData["Title"] = "Автомат по продаже напитков";
    ViewData["TitleSub"] = "(Администратор)";
    ViewData["CodeName"] = "admin";
}
<h2>@ViewData["Title"]</h2>
<h4>@ViewData["TitleSub"]</h4>

<div class="col-md-12">
    <form asp-action="Escape" id="FeedBack">
        
        @* Напитки *@
        <div class="group mt-4">
            <div class="col-form-label-lg pt-0">Настройка напитков:</div>
            <div class="d-flex">
                @Html.Partial("_Drinks", Model.Drinks)
            </div>
            <div class="d-flex justify-content-end flex-grow-1 mt-3">
                <input id="ApplyDrinkBtn" type="button" value="Применить"
                       class="col-form-label btn-secondary ms-3 w--100"/>
            </div>
            
            <div class="col-form-label-lg mt-2">Удаление/добавление напитка:</div>
            <div class="d-flex">
                @Html.Partial("_AddDrink", Model.Drinks)
            </div>
            <div class="d-flex justify-content-end flex-grow-1 mt-3">
                <input id="RemoveDrinkBtn" type="button" value="Удалить"
                       class="col-form-label btn-secondary ms-3 w--100"/>
                <input id="AddDrinkBtn" type="button" value="Добавить"
                       class="col-form-label btn-secondary ms-3 w--100"/>
            </div>
        </div>

        @* Монеты *@
        <div class="group mt-2">
            <div class="col-form-label-lg pt-0">Настройка монет:</div>
            <div class="d-flex">
                @Html.Partial("_Coins", Model.Coins)
            </div>
            <div class="d-flex justify-content-end flex-grow-1 mt-3">
                   <input id="ApplyCoinBtn" type="button" value="Применить"
                          class="col-form-label btn-secondary ms-3 w--100"/>
            </div>
        </div>

        @* Информация *@
        <div class="group d-flex mt-2">
            <div class="col-form-label-lg me-2 py-0 align-self-center">Информация:</div>
            <div id="Info"
                 class="flex-grow-1 pt-1 align-self-center">
                @Html.Partial("_Info", new InfoModel())
            </div>
        </div>

        @* Кнопка отмены *@
        <div class="d-flex mt-3 justify-content-end">
            <input id="EscBtn" type="button" value="Отмена"
                   class="col-form-label btn-secondary ms-3 w--100"/>
        </div>
        
    </form>
</div>

@section scripts{
    <script src="~/js/admin.js" asp-append-version="true"></script>
}